/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* ------------------------------------- TOP NAVIGATION BAR -------------------------------*/

.logo{
    font-size: 1.9em !important;
    font-family: 'Comfortaa', cursive !important;
    font-family: 'Montserrat', sans-serif !important;
}

.menu-items{
    font-size: 1.2em !important;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white;
}

/* -------- END TOP NAVIGATION BAR -------------------------------*/

/* -------------------------- MIDDLE WIDGET --------------------------*/

.main-area {
    background: linear-gradient(to bottom, #b9a5e2, #fff);
    width: 100%;
    height: 100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes animate {
    0% {
        opacity: 1;
        border-radius: 0;
        transform: translateY(0) rotate(0deg);
    }
    100% {
        opacity: 0;
        border-radius: 50%;
        transform: translateY(-2000px) rotate(720deg);
    }
}

.circles div {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    bottom: -150px;
    animation: animate 25s linear infinite;
}

.circles div:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles div:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles div:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles div:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles div:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles div:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles div:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles div:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles div:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles div:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.center { /* area for text */
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}

.center .title {
    color:#fff;
    font-size: 55px;
    font-weight: 600;
}

.center .sub_title { 
    color: #fff;
    font-size: 52px;
    font-weight: 600;
}

/* -------------------------- END MIDDLE WIDGET --------------------------*/


/* ----------------------------------- BUTTONS ---------------------------------------*/
.center .btns {
    margin-top: 20px;
}

.center .btns button { /* attributes for all buttons */
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .btns button:first-child {
    color: #fff;
    border: 2px solid #fff;
    background: none;
} 

.center .btns button:first-child:hover {
    background: #fff;
    color: #000;
}

.center .btns button:nth-child(2) { /* second button properties */
    background: #b9a5e2;
}

.center .btns button:nth-child(2):hover { /* second button hover properties */
    background: #d1c1f2;
}

/* ----------------------------------- END BUTTONS ---------------------------------------*/

/* ----------------------------------- LEARN MORE ---------------------------------------*/
.learn-more {
    background: #a48bcc;
    width: 100%; 
    position: relative;
    width: 100%;
    text-align: center;
}

.learn-more .block-1 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
/* ----------------------------- END LEARN MORE ---------------------------------------*/
