// colors
:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  // fira code best font
  --vp-font-family-mono: 'Fira Code', Consolas, Monaco, 'Andale Mono';
}

// title gradient
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand-lighter),
    var(--vp-c-brand-darker)
  );
}

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

// Transition by color instead of opacity
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

// Better home image
.VPHome .image {
  .VPImage {
    border-radius: 24px;
  }
}

// Remove instagram iframe border
.instagram-media.instagram-media-rendered {
  border: none !important;
  background: none !important;
  border-radius: 24px !important;
  box-shadow: 0 0 15px #ff0069 !important;
}
